In [43]:
import pandas as pd
import numpy as np
from matplotlib import rc
from matplotlib import pyplot as plt
import seaborn as sns
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

rc('font', family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False


df2016 = pd.read_csv('GP_2016_AQ.csv',index_col=0)
health_16 = pd.read_csv('16health.csv')
df2016.insert(28, '건강한정도', health_16['건강한정도'])

df2017 = pd.read_csv('GP_2017_AQ.csv',index_col=0)
health_17 = pd.read_csv('17health.csv')
df2017.insert(28, '건강한정도', health_17['건강한정도'])

df2018 = pd.read_csv('GP_2018_AQ.csv',index_col=0)
health_18 = pd.read_csv('18health.csv')
df2018.insert(28, '건강한정도', health_18['건강한정도'])

df = pd.concat([df2016, df2017, df2018])

In [44]:
df2018.tail()

,본분교,국공사립,주야간,전공계열,전공_소분류_코드,전공_세분류_코드,학교유형,학교소재지역,성별,연령,...,신입여부,취업_중요요소_1순위,취업_중요요소_2순위,첫직장여부,건강한정도,운동시간(주),수면시간(일),흡연여부,음주빈도,조사년도
18158,1,3,1,7,U070606,U07060600008,2,1,1,27.0,...,0.0,0.0,0.0,0.0,5,6,7,1,3,2018
18159,1,3,1,7,U070606,U07060600003,2,1,2,25.0,...,3.0,3.0,1.0,1.0,4,0,8,2,4,2018
18160,1,3,1,7,U070606,U07060600001,2,1,1,26.0,...,4.0,2.0,1.0,2.0,5,2,8,1,5,2018
18161,1,3,2,3,C030201,C03020100019,1,8,1,28.0,...,0.0,0.0,0.0,0.0,5,1,4,1,1,2018
18162,1,3,1,3,C030201,C03020100017,1,8,1,27.0,...,1.0,4.0,7.0,1.0,4,2,7,2,3,2018

---

# 변수 줄이기 시도

In [45]:
cols = df.columns[11:-6]
cols

Index(['산업분류', '직업분류', '직원수', '사업체위치(시도)', '종사상 지위', '계약여부', '정규직여부',
       '인턴경험여부(현직장)', '근로소득(현재_월_만원)', '근로소득(초임_월_만원)', '구직기간(주)', '구직경로',
       '구직방법', '신입여부', '취업_중요요소_1순위', '취업_중요요소_2순위', '첫직장여부'],
      dtype='object')

In [46]:
for col in cols:
    print(df[col].value_counts())
    print()

0.0     14786
3.0      6666
16.0     6340
13.0     3827
17.0     3760
7.0      3386
10.0     3066
15.0     2441
9.0      1951
14.0     1474
6.0      1421
11.0     1327
18.0     1083
19.0      944
8.0       907
4.0       326
12.0      301
1.0       253
5.0       159
21.0       12
2.0         7
20.0        6
Name: 산업분류, dtype: int64

0.0     14788
2.0     10208
15.0     3651
21.0     3329
30.0     2972
41.0     2776
61.0     2586
13.0     2279
14.0     1424
53.0     1380
23.0     1251
12.0     1001
81.0      957
3.0       957
83.0      746
25.0      719
62.0      407
42.0      396
52.0      370
85.0      252
90.0      250
24.0      207
70.0      197
51.0      179
54.0      165
22.0      144
87.0      131
56.0      127
88.0      122
82.0      106
84.0       87
55.0       73
11.0       70
89.0       53
1.0        50
86.0       33
Name: 직업분류, dtype: int64

0.0    20422
9.0     9055
3.0     4835
6.0     3918
1.0     3729
2.0     3166
5.0     3133
4.0     2236
8.0     2095
7.0     1854
Name: 직원수, dtype: int64

0.0     14804
1.0     12684
8.0      7335
2.0      2623
15.0     2203
14.0     1700
3.0      1658
5.0      1469
4.0      1402
11.0     1284
9.0      1208
13.0     1172
10.0     1160
12.0     1149
6.0      1059
7.0       859
16.0      373
17.0      301
Name: 사업체위치(시도), dtype: int64

1.0    31041
0.0    14752
2.0     6345
5.0     1088
4.0      598
3.0      507
6.0      112
Name: 종사상 지위, dtype: int64

2.0    29742
0.0    16551
1.0     8150
Name: 계약여부, dtype: int64

1.0    26937
0.0    16608
2.0    10898
Name: 정규직여부, dtype: int64

2.0    33325
0.0    16550
1.0     4568
Name: 인턴경험여부(현직장), dtype: int64

0.0      14925
200.0     4383
250.0     2771
180.0     2033
300.0     1987
         ...
427.0        1
432.0        1
22.0         1
760.0        1
286.0        1
Name: 근로소득(현재_월_만원), Length: 466, dtype: int64

0.0      14952
200.0     4404
180.0     2707
250.0     2256
150.0     2191
         ...
351.0        1
222.0        1
13.0         1
760.0        1
286.0        1
Name: 근로소득(초임_월_만원), Length: 447, dtype: int64

0.0      31338
4.0       2769
26.0      2235
1.0       2139
13.0      1889
         ...
190.0        1
236.0        1
101.0        1
77.0         1
220.0        1
Name: 구직기간(주), Length: 147, dtype: int64

0.0     14764
1.0     13707
6.0      8709
4.0      4595
3.0      3923
5.0      1888
7.0      1815
10.0     1668
2.0      1219
9.0      1051
12.0      544
11.0      357
8.0       203
Name: 구직경로, dtype: int64

9.0     17134
0.0     16474
4.0      6887
2.0      4824
3.0      2179
10.0     2083
1.0      1654
7.0      1083
13.0      394
15.0      357
5.0       354
11.0      282
12.0      244
14.0      214
8.0       166
6.0       114
Name: 구직방법, dtype: int64

1.0    26490
0.0    14756
3.0     7750
4.0     3203
2.0     1971
5.0      273
Name: 신입여부, dtype: int64

0.0     14752
1.0     11089
3.0      8241
4.0      5068
2.0      4579
9.0      2489
7.0      2458
13.0     1309
10.0     1269
8.0       985
11.0      590
5.0       471
6.0       443
12.0      298
14.0      210
16.0      119
15.0       73
Name: 취업_중요요소_1순위, dtype: int64

0.0     14813
3.0      5386
2.0      5243
1.0      5114
7.0      4487
4.0      4256
9.0      3064
10.0     2712
8.0      2278
13.0     1990
11.0     1513
6.0      1065
5.0      1009
12.0      624
14.0      545
15.0      234
16.0      110
Name: 취업_중요요소_2순위, dtype: int64

1.0    29544
0.0    14752
2.0    10147
Name: 첫직장여부, dtype: int64

- 정규직여부(자가응답) 1:정규직, 2:비정규직
- 계약여부 1:계약직(정하였다) 2:비계약직(정하지 않았다)

In [47]:
df.groupby(['정규직여부','계약여부'])['계약여부'].count()

정규직여부  계약여부
0.0    0.0     16551
       1.0        35
       2.0        22
1.0    1.0      1164
       2.0     25773
2.0    1.0      6951
       2.0      3947
Name: 계약여부, dtype: int64

In [48]:
# 정규직 여부에 응답하지 않았는데 계약여부 1이라고 응답한 경우 -> 비정규직(정규직여부:2)
# 정규직 여부에 응답하지 않았는데 계약여부 2라고 응답한 경우 -> 정규직(정규직여부:1)

# if 
# if (df['계약여부'] == 2) & (df['정규직여부'] == 0)
# if
# if (df['계약여부'] == 2)

df.loc[(df['계약여부'] == 1) & (df['정규직여부'] == 0), '정규직여부'] = 2
df.loc[(df['계약여부'] == 2) & (df['정규직여부'] == 0), '정규직여부'] = 1
df.loc[df['계약여부'] == 1, '정규직여부'] = 2
df.loc[df['계약여부'] == 2, '정규직여부'] = 1

df2016.loc[(df2016['계약여부'] == 1) & (df2016['정규직여부'] == 0), '정규직여부'] = 2
df2016.loc[(df2016['계약여부'] == 2) & (df2016['정규직여부'] == 0), '정규직여부'] = 1
df2016.loc[df2016['계약여부'] == 1, '정규직여부'] = 2
df2016.loc[df2016['계약여부'] == 2, '정규직여부'] = 1

df2017.loc[(df2017['계약여부'] == 1) & (df2017['정규직여부'] == 0), '정규직여부'] = 2
df2017.loc[(df2017['계약여부'] == 2) & (df2017['정규직여부'] == 0), '정규직여부'] = 1
df2017.loc[df2017['계약여부'] == 1, '정규직여부'] = 2
df2017.loc[df2017['계약여부'] == 2, '정규직여부'] = 1

df2018.loc[(df2018['계약여부'] == 1) & (df2018['정규직여부'] == 0), '정규직여부'] = 2
df2018.loc[(df2018['계약여부'] == 2) & (df2018['정규직여부'] == 0), '정규직여부'] = 1
df2018.loc[df2018['계약여부'] == 1, '정규직여부'] = 2
df2018.loc[df2018['계약여부'] == 2, '정규직여부'] = 1

In [49]:
df.drop(columns='계약여부', inplace=True)

In [50]:
df2016.drop(columns='계약여부', inplace=True)
df2017.drop(columns='계약여부', inplace=True)
df2018.drop(columns='계약여부', inplace=True)

In [51]:
cols

Index(['산업분류', '직업분류', '직원수', '사업체위치(시도)', '종사상 지위', '계약여부', '정규직여부',
       '인턴경험여부(현직장)', '근로소득(현재_월_만원)', '근로소득(초임_월_만원)', '구직기간(주)', '구직경로',
       '구직방법', '신입여부', '취업_중요요소_1순위', '취업_중요요소_2순위', '첫직장여부'],
      dtype='object')

* 신입여부와 첫직장여부 하나만 사용해도 괜찮을듯?

In [52]:
df.groupby(['신입여부','첫직장여부'])['첫직장여부'].count()

신입여부  첫직장여부
0.0   0.0      14752
      1.0          4
1.0   1.0      21006
      2.0       5484
2.0   1.0        679
      2.0       1292
3.0   1.0       5407
      2.0       2343
4.0   1.0       2247
      2.0        956
5.0   1.0        201
      2.0         72
Name: 첫직장여부, dtype: int64

In [53]:
df.groupby(['첫직장여부','신입여부'])['첫직장여부'].count()

첫직장여부  신입여부
0.0    0.0     14752
1.0    0.0         4
       1.0     21006
       2.0       679
       3.0      5407
       4.0      2247
       5.0       201
2.0    1.0      5484
       2.0      1292
       3.0      2343
       4.0       956
       5.0        72
Name: 첫직장여부, dtype: int64

In [54]:
df.loc[(df['신입여부'] == 0) & (df['첫직장여부'] == 1), '첫직장여부'] = 0

In [55]:
df.drop(columns='첫직장여부', inplace=True)
df2016.drop(columns='첫직장여부', inplace=True)
df2017.drop(columns='첫직장여부', inplace=True)
df2018.drop(columns='첫직장여부', inplace=True)

---

In [56]:
df.to_csv('./완료/GP_AQ.csv')
df2016.to_csv('./완료/GP_AQ_2016.csv')
df2017.to_csv('./완료/GP_AQ_2017.csv')
df2018.to_csv('./완료/GP_AQ_2018.csv')

In [57]:
df2016.shape

(18199, 32)

In [58]:
df2017.shape

(18081, 32)

In [59]:
df2018.shape

(18163, 32)

In [60]:
df['산업분류']

0         0.0
1        12.0
2         0.0
3         0.0
4         0.0
         ...
18158     0.0
18159    16.0
18160     7.0
18161     0.0
18162    16.0
Name: 산업분류, Length: 54443, dtype: float64