In [23]:
import pandas as pd

df = pd.read_csv('./완료/GP_AQ.csv', index_col=0)

In [24]:
df.columns

Index(['본분교', '국공사립', '주야간', '전공계열', '전공_소분류_코드', '전공_세분류_코드', '학교유형',
       '학교소재지역', '성별', '연령', '취업여부', '산업분류', '직업분류', '직원수', '사업체위치(시도)',
       '종사상 지위', '정규직여부', '인턴경험여부(현직장)', '근로소득(현재_월_만원)', '근로소득(초임_월_만원)',
       '구직기간(주)', '구직경로', '구직방법', '신입여부', '취업_중요요소_1순위', '취업_중요요소_2순위',
       '건강한정도', '운동시간(주)', '수면시간(일)', '흡연여부', '음주빈도', '조사년도'],
      dtype='object')

In [25]:
df_basic = df.iloc[:,:11]
df_basic['조사년도'] = df['조사년도']
df_basic

,본분교,국공사립,주야간,전공계열,전공_소분류_코드,전공_세분류_코드,학교유형,학교소재지역,성별,연령,취업여부,조사년도
0,1,3,1,1,C010101,C01010100002,1,8,1,26.0,0,2016
1,1,3,1,1,C010101,C01010100002,1,5,2,21.0,1,2016
2,1,3,1,1,C010101,C01010100002,1,8,2,22.0,0,2016
3,1,3,1,1,C010101,C01010100002,1,8,1,25.0,0,2016
4,1,3,1,1,C010101,C01010100003,1,2,1,31.0,1,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
18158,1,3,1,7,U070606,U07060600008,2,1,1,27.0,0,2018
18159,1,3,1,7,U070606,U07060600003,2,1,2,25.0,1,2018
18160,1,3,1,7,U070606,U07060600001,2,1,1,26.0,1,2018
18161,1,3,2,3,C030201,C03020100019,1,8,1,28.0,0,2018
18162,1,3,1,3,C030201,C03020100017,1,8,1,27.0,1,2018

In [26]:
df_A=df.iloc[:,11:-6]
df_Q=df.iloc[:,-6:]

In [27]:
df_A['조사년도'] = df['조사년도']

In [28]:
df_A.to_csv('취업관련_3개년.csv',encoding = 'utf-8-sig' , index=False)

In [29]:
df_Q.to_csv('건강_3개년.csv',encoding = 'utf-8-sig' , index=False)

In [30]:
df_A[df_A['조사년도']==2016].to_csv('취업관련_2016.csv',encoding = 'utf-8-sig' , index=False)
df_A[df_A['조사년도']==2017].to_csv('취업관련_2017.csv',encoding = 'utf-8-sig' , index=False)
df_A[df_A['조사년도']==2018].to_csv('취업관련_2018.csv',encoding = 'utf-8-sig' , index=False)

In [31]:
df_Q[df_Q['조사년도']==2016].to_csv('건강_2016.csv',encoding = 'utf-8-sig' , index=False)
df_Q[df_Q['조사년도']==2017].to_csv('건강_2017.csv',encoding = 'utf-8-sig' , index=False)
df_Q[df_Q['조사년도']==2018].to_csv('건강_2018.csv',encoding = 'utf-8-sig' , index=False)

In [32]:
df_basic.to_csv('기본변수_3개년.csv',encoding = 'utf-8-sig' , index=False)
df_basic[df_basic['조사년도']==2016].to_csv('기본변수_2016.csv', encoding = 'utf-8-sig' , index=False)
df_basic[df_basic['조사년도']==2017].to_csv('기본변수_2017.csv',encoding = 'utf-8-sig' , index=False)
df_basic[df_basic['조사년도']==2018].to_csv('기본변수_2018.csv',encoding = 'utf-8-sig' , index=False)